body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
}

.container {
  margin-top: 50px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}